/* Full page */
* {
  box-sizing: border-box;
  text-decoration: none !important;
}

html > * {
  height: 100%;
  width: 80vw;
  background-color: #5c0a0a;
  color: rgb(71, 73, 72);
  margin-left: 20%;
}

/* navbar */
.navbar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5%;
  padding: 0;
  background-color: #2e0505;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 3rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.28px;
  border-radius: none;
  text-decoration: none;
}

.nav-name {
  display: none;
}

.navbar:hover .nav-name {
  display: inline;
}

.navbar:hover .brand {
  color: pink;
}